*{
    margin:0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
    transition: all 0.2s;
}

@font-face {
    font-family: "awesome";
    src: url(../../assets/fonts/awesome.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ballmain';
    src: url(../../assets/fonts/ballmain.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('../../assets/fonts/allura.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
  width: 100vw; 
    /*height: 1500px;*/
    background-color: #000000;
    overflow-x: hidden;
  overflow-y: scroll;
 
}
/*Background*/

body{
background-image: url("../../assets/images/background.png");
width: 100vw;
height: 100vh;
background-size:100% 100vh;
background-repeat: no-repeat;
overflow-y: scroll;
overflow-x: hidden;
position: fixed;
}

/*Navigation Bar Starts*/

#logo{
    height:45px;
    margin:20px;

}

nav{
    display: flex;
    justify-content: space-between;
    top:0;
      position: fixed;
      width: 100vw;
    backdrop-filter: blur(10px);
   z-index: 1;
}

#menubar{
    display:flex;
    flex-direction: column;
    position:fixed;
    right: 0%;
    top: 0px;
    height: 100vh;
    padding-top:30px;
    padding-right:40px;
     padding-left:40px;
    backdrop-filter: blur(10px);
    display:none;
    z-index: 1;
}
#navdiv{
    margin-right: 35px;
  }
#navdiv ul{
    display: flex;

}
#menubar ul{
    display: flex;
    flex-direction: column;
}

#menubar ul li{
    margin:auto;
}

#navdiv ul li,#menubar ul li{
    margin:20px;
    margin-left: 50px;
    margin-top:30px;
    list-style: none;
    position:relative;
}

#close{
    display: flex;
    flex-direction: row-reverse;
} 

#navdiv ul li a, #menubar ul li a{
    text-decoration: none;
    color: yellow;
    font-size: 1.4rem;
    font-family: "Baloo Bhai 2", serif;
    font-style: italic;
     text-align: center;
}



#menu{
    margin:30px;
   
    display:none;
}

#menu:hover{
    cursor: pointer;
}
#close:hover{
    cursor: pointer;
}

#close img:active{
     border-radius: 50px;
        background-color: rgba(224, 222, 222, 0.5);
}

#menubar ul li:hover{
    cursor:pointer;
}
#menubar ul li a:hover,#navdiv ul li a:hover {
    font-weight: bold;
}
#menubar ul li a:active{
    color:white ;
}

#navdiv ul li:hover::after{
    content: '';
    height:4px;
    width:100%;
    background-color: yellow;
    position: absolute;
    left:0;
    bottom: -25px;
    opacity: 1;

}




@media (max-width:975px){

    #navdiv{
        display:none;

    }

    #menu{
        display:block;
    }

    #menu:active{
        border-radius: 50px;
        background-color: rgba(224, 222, 222, 0.5);
        
    }
    
}


/*Navigation bar ends*/


/*about me section*/

#aboutme{
    display: flex;
     margin-top: 150px;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: column;
    gap: 5rem;
}

#up{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

#dp{
   
    width: 25%;
     height:25dvw;
   
   position: relative;
}

#rect{
   
   position: absolute;
   
    width: 90%;

     height:25dvw;
     border: 5px solid rgb(178, 10, 245);
     border-radius: 20px;
     transform: rotate(-60deg);
     box-shadow: 0 3px 10px 5px rgb(178, 10, 245);
      backdrop-filter: blur(10px);
}


#pic{
    position: absolute;
    width: 95%;
     border-radius: 20px;
    border: 5px solid purple;
    box-shadow: 0 3px 10px 5px purple;
    backdrop-filter: blur(10px);
}

#taglines{
width: 50%;
font-size: 7rem;
color:white;
text-align: center;
font-family:'Impact','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

backdrop-filter: blur(2px);
}

#taglines p:nth-child(2n+1){
    color: yellow;
}



#taglines p:nth-child(2){
    color:white;
}

#education h1{
    color: yellow;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.6rem;
    font-weight: bold;
   
}
#education{
    display: flex;
    flex-flow: column;
    width: 88%;
    margin: auto;
    gap:2.5rem;
    margin-bottom: 2%;
}

#nitdgp{
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    border-radius: 30px;
      border: 2px solid rgb(178, 10, 245);
     box-shadow: 0 3px 10px 3px purple;
     padding-top: 1%;
       padding-bottom: 1%;
       
}

#nitdgp:hover{
    cursor: pointer;
}
#nit{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    border: 2px solid rgb(178, 10, 245);
     box-shadow: 0 3px 10px 2px purple;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.info p:nth-child(1){
    font-size: 2.5rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.5rem;
    color: white;
}

.time{
    font-size: 1.7rem;
    color:yellow;
}

#myself{
   
    display: flex;
    flex-flow: column;
    width: 88%;
    margin: auto;
    gap:2.5rem;
    margin-bottom: 2%;
}


#myself h1{
    color: yellow;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: bold;
}


#about{
    
    
    
    backdrop-filter: blur(10px);
    border-radius: 30px;
      border: 2px solid rgb(178, 10, 245);
     box-shadow: 0 3px 10px 3px purple;
     padding: 2%;
      font-size: 1.5rem;
       color: white;
}

#about p:nth-child(9),p:nth-child(10),p:nth-child(11),p:nth-child(12),p:nth-child(13),p:nth-child(14){
    color: yellow;
}


@media (max-width:1252px){

#taglines{
    font-size: 6rem;

}

.info p:nth-child(1){
    font-size: 2rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.2rem;
    color: white;
}

.time{
    font-size: 1.5rem;
    color:yellow;
}



#dp{
     width: 30%;
     height:30dvw;
}

#rect{
     height:30dvw;
}



}




@media (max-width:1152px){

#taglines{
    font-size: 5.5rem;

}

.info p:nth-child(1){
    font-size: 1.8rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.3rem;
    color: white;
}

.time{
    font-size: 1.3rem;
    color:yellow;
}

#nitdgp{
    padding: 3%;
}



}




@media (max-width:970px){

#taglines{
    font-size: 5rem;

}

.info p:nth-child(1){
    font-size: 1.6rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.2rem;
    color: white;
}

.time{
    font-size: 1.3rem;
    color:yellow;
}







}




@media (max-width:860px){

#taglines{
    font-size: 4.6rem;

}

.info p:nth-child(1){
    font-size: 1.4rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.2rem;
    color: white;
}

.time{
    font-size: 1.3rem;
    color:yellow;
}

#about{
   
    padding:4%;
}

#nitdgp{
    padding: 3%;
}





}





@media (max-width:800px){

#taglines{
    font-size: 5rem;
    text-align: center;
   
}

#up{
    flex-direction: column;

    gap: 5rem;
    justify-content: center;
    align-items: center;
}


#dp{
     width: 50%;
     height:50dvw;
}

#rect{
     height:50dvw;
}




.info p:nth-child(1){
    font-size: 1.4rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.2rem;
    color: white;
}

.time{
    font-size: 1.3rem;
    color:yellow;
}

#about{
    
    padding:4%;
}

#nitdgp{
    padding: 3%;
}
}






@media (max-width:680px){

#taglines{
    font-size: 4.7rem;
    text-align: center;
    
}

#up{
    flex-direction: column;

    gap: 4.6rem;
}


#dp{
     width: 50%;
     height:50dvw;
}

#rect{
     height:50dvw;
}


.info{
    gap:.2rem;
}

.info p:nth-child(1){
    font-size: 1.2rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: 1.1rem;
    color: white;
}

.time{
    font-size: 1.1rem;
    color:yellow;
}



#about{
    font-size: 1.3rem;
    padding:4%;
}
#nitdgp{
    padding: 3%;
}
}


@media (max-width:600px){

#taglines{
    font-size: 4rem;
    text-align: center;
   
}

#up{
    flex-direction: column;

    gap: 4.6rem;
}


#dp{
     width: 55%;
     height:55dvw;
}

#rect{
     height:55dvw;
}


.info{
    gap:.2rem;
}

.info p:nth-child(1){
    font-size: .9rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: .8rem;
    color: white;
}

.time{
    font-size: .8rem;
    color:yellow;
}



#about{
    font-size: 1.3rem;
    padding:4%;
}
#nitdgp{
    padding: 3%;
}


#education{
    gap:1rem;
}
}



@media (max-width:500px){

#taglines{
    font-size: 3.5rem;
    text-align: center;
    align-self: center;
   
}

#up{
    flex-direction: column;

    gap: 4rem;
}


#dp{
     width: 50%;
     height:50dvw;
}

#rect{
     height:50dvw;
}


.info{
    gap:.2rem;
}

.info p:nth-child(1){
    font-size: .9rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: .8rem;
    color: white;
}

.time{
    font-size: .8rem;
    color:yellow;
}



#about{
    font-size: 1rem;
    padding:4%;
}
#nitdgp{
    padding: 3%;
}

#education h1{
    font-size: 1.8rem;
}

#myself h1{
    font-size: 1.8rem;
}

}




@media (max-width:450px){

#taglines{
    font-size: 3.3rem;
    text-align: center;
    align-self: center;
  
    margin-left: -20%;
}

#up{
    flex-direction: column;

    gap: 4rem;
}


#dp{
     width: 60%;
     height:60dvw;
}

#rect{
     height:60dvw;
}


.info{
    gap:.2rem;
}

.info p:nth-child(1){
    font-size: .7rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: .6rem;
    color: white;
}

.time{
    font-size: .6rem;
    color:yellow;
}



#about{
    font-size: 1rem;
    padding:4%;
}
#nitdgp{
    padding: 3%;
}

#education h1{
    font-size: 1.4rem;
}

#myself h1{
    font-size: 1.4rem;
}

}


@media (max-width:350px){

#taglines{
    font-size: 2.9rem;
    text-align: center;
    margin-left: -20%;
}

#up{
    flex-direction: column;

    gap: 4rem;
}


#dp{
     width: 60%;
     height:60dvw;
}

#rect{
     height:60dvw;
}


.info{
    gap:.3rem;
}

.info p:nth-child(1){
    font-size: .6rem;
    color: yellow;
}

.info p:nth-child(2){
    font-size: .5rem;
    color: white;
}

.time{
    font-size: .5rem;
    color:yellow;
}



#about{
    font-size: 0.8rem;
    padding:4%;
}
#nitdgp{
    padding: 3%;
   
}

#education h1{
    font-size: 1.1rem;
}

#myself h1{
    font-size: 1.1rem;
}


}





/*about me section ends*/