*{
    margin:0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
    transition: all 0.2s;
}

@font-face {
    font-family: "awesome";
    src: url(../../assets/fonts/awesome.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ballmain';
    src: url(../../assets/fonts/ballmain.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('../../assets/fonts/allura.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
  width: 100vw; 
    /*height: 1500px;*/
    background-color: #000000;
    overflow-x: hidden;
  overflow-y: scroll;
 
}
/*Background*/

body{
background-image: url("../../assets/images/background.png");
width: 100vw;
height: 100vh;
background-size:100% 100vh;
background-repeat: no-repeat;
overflow-y: scroll;
overflow-x: hidden;
position: fixed;
}

/*Navigation Bar Starts*/

#logo{
    height:45px;
    margin:20px;

}

nav{
    display: flex;
    justify-content: space-between;
    top:0;
      position: fixed;
      width: 100vw;
    backdrop-filter: blur(10px);
   z-index: 1;
}

#menubar{
    display:flex;
    flex-direction: column;
    position:fixed;
    right: 0%;
    top: 0px;
    height: 100vh;
    padding-top:30px;
    padding-right:40px;
     padding-left:40px;
    backdrop-filter: blur(10px);
    display:none;
    z-index: 1;
}
#navdiv{
    margin-right: 35px;
  }
#navdiv ul{
    display: flex;

}
#menubar ul{
    display: flex;
    flex-direction: column;
}

#menubar ul li{
    margin:auto;
}

#navdiv ul li,#menubar ul li{
    margin:20px;
    margin-left: 50px;
    margin-top:30px;
    list-style: none;
    position:relative;
}

#close{
    display: flex;
    flex-direction: row-reverse;
} 

#navdiv ul li a, #menubar ul li a{
    text-decoration: none;
    color: yellow;
    font-size: 1.4rem;
    font-family: "Baloo Bhai 2", serif;
    font-style: italic;
     text-align: center;
}



#menu{
    margin:30px;
   
    display:none;
}

#menu:hover{
    cursor: pointer;
}
#close:hover{
    cursor: pointer;
}

#close img:active{
     border-radius: 50px;
        background-color: rgba(224, 222, 222, 0.5);
}

#menubar ul li:hover{
    cursor:pointer;
}
#menubar ul li a:hover,#navdiv ul li a:hover {
    font-weight: bold;
}
#menubar ul li a:active{
    color:white ;
}

#navdiv ul li:hover::after{
    content: '';
    height:4px;
    width:100%;
    background-color: yellow;
    position: absolute;
    left:0;
    bottom: -25px;
    opacity: 1;

}




@media (max-width:975px){

    #navdiv{
        display:none;

    }

    #menu{
        display:block;
    }

    #menu:active{
        border-radius: 50px;
        background-color: rgba(224, 222, 222, 0.5);
        
    }
    
}


/*Navigation bar ends*/


/*Hero Section*/

#hero{
padding-top: 110px;    
display: flex;
height: 100vh;
width: 100vw;
}
#right{
    display: flex;
    flex-direction: column;
    margin:5% auto 0 10%;
    
    
}

#myImage{
   
    margin-left: 12%;
}

#myImage img{
    height: 100%;
    margin-top:-1px;
    width: 100%;
}

#righttxt{
    align-self: flex-end;
    justify-content: center;
    display:flex;
    flex-direction: column;
    gap: 3rem;
    backdrop-filter: blur(2px);
 
}

#righttxt p,#righttxt span{
    font-size: 3rem;
    color: white;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
}

#top span:nth-child(3){
    color:yellow;
    font-family: 'Allura','Ballmain',serif;
    font-size: 4.5rem;
  
}


#animated span:nth-child(3){
    color: yellow;
    position: relative;
   
    
}



#animated span:nth-child(3)::after{
    content: "";
    position: absolute;
    width:5px;
    height: 100%;
    right: -13px;
    background-color: yellow;
    animation: cursor 0.8s infinite;
}

@keyframes cursor{
    to{
        background-color:  black;
    }

}


#resume{
    padding:5%;
    
}


#dresume{
    width: 270px;
    height:70px;
   margin-left: 20%;
    
    border-radius: 100px;
    border:4px solid yellow;
    background-color: rgba(0,0,0,0);
    color:yellow;
    font-family: 'Baloo Bhai 2',serif;
    font-size: 1.4rem;
font-weight: bold;
backdrop-filter: blur(2px);

}

#dresume:hover,#dresume:active{
    cursor: pointer;
    background-color: yellow;
    color: black;
}



@media (max-width:1266px){
    #hero{
    flex-direction: column-reverse;
    justify-content: flex-end;
   
    }
    #right{
        
       align-self: flex-end;
        margin: 3% auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        height:450px;
    }

    #righttxt{
        align-self: center;
        text-align: center;
    }
    #righttxt p,#righttxt span{
        font-size:1.8rem;
        text-align: center;
    }
   
    #top span:nth-child(3){
        text-align: center;
        font-size: 2.5rem;
    }

    #animated span:nth-child(3){
         text-align: center;
        font-size: 1.8rem;
    }

    #myImage{
       align-self:center;
    }
    #myImage img{
        height: 90%;
        width: 100%;
    }

    #dresume{
        height: 70px;
        
        border-radius: 80px;
        margin:auto;
    }



    #hero{
        height:auto;
    }

   

}

@media (max-width:639.5px){
 #resume,#dresume{
        margin: 0;
        margin-top: 3%;
        
    }
#myImage img{
    margin-top:-10%;
}

    #right{
        margin-top: -8%;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

}


@media (max-width:1266px) and (min-width:640px){
      #righttxt p,#righttxt span{
        font-size:3rem;
        text-align: center;
    }
    #top span:nth-child(3){
        text-align: center;
        font-size: 4rem;
    }

    #animated span:nth-child(3){
         text-align: center;
        font-size: 3rem;
    }
    
    #dresume{
       width: 290px;
    height:90px;
        border-radius: 100px;
        
    }

  
   
}



/*Hero SectionEnds*/


/*Skill section*/

#skill{
    /*height: 200px;*/
    background-color: rgba(8, 8, 8, 0);
    backdrop-filter: blur(40px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 3px 10px 5px rgb(178, 10, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

#skill div p{
    color: yellow;
    font-family:"Baloo Bhai 2", serif;
    font-size: 2.2rem;
    margin-top: 15%;
    text-shadow: 10px 10px 7px black;
    font-weight: bold;
  
    text-align: center;
  /*  border-bottom: 3px solid yellow;*/
}



#skilltop{
    display: flex;
    
}

#filter{
    position: absolute;
    right: 5%;
    top:7%;
    width: 16%;
    
}
#filter_down{
    height: 40px;
    width: 100%;
    background-color: rgba(67, 65, 65,0);
    border: 2px solid yellow;
    border-radius: 30px;
    backdrop-filter: (10px);
    color: yellow;
    text-align: center;
    box-shadow: 2px 2px 10px 3px yellow;
    font-family: "Baloo Bhai 2", serif;
    font-size: 1.1rem;
    
}
#filter_down:hover{
cursor: pointer;
}

.options{
    background-color: rgb(58, 55, 58);
    
}



/*skill show*/
#skillshow{
   display:flex;
   height: 200px;
    width:80%;
   justify-content: flex-start;
   margin-bottom: 2%;
   gap: 2.5rem;
   overflow: auto;
   align-items: center;
   scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; 
 
}
#skillshow img{
    height: 90px;
    width: 90px;
    flex-shrink: 0;
    margin-left: auto;
  margin-right: auto;

}


#skillshow img:hover{
    transform: scale(1.2);
}


/*skill show ends*/




@media (max-width:640px) {

    #filter{
        position: static;
        width:100%;
        margin-top:12%;
    }
   

    #skilltop{
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #skill div p{
        font-size: 1.7rem;
        margin-top: 20%;
    }

    #skillshow img{
        height: 75px; 
        width: 75px;
    }

  

}

/*skill section ends*/



/*follow section*/
#follow{
    position: absolute;
   
    width: 100vw;
   
    background-color:rgba(0, 0, 0, 0.65);

    box-shadow:  2px 2px 10px 7px rgb(219, 5, 247);
   backdrop-filter: blur(40px);
  border-top:  rgb(219, 5, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


#followme p{
    color:yellow;
    font-family: "Baloo Bhai 2" ,serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10%;
}
#followme{
    border-bottom: 3px solid yellow;
    
    text-align: center;
   
}

#followIcons{
    display:flex;
   justify-content: center;
    align-items: center;
    width:100vw;
    gap:2.5rem;
    margin-left: -2.8%;
}

.contactico{
    height: 80px;
    width: 80px;
    margin:40%;
}

.contactico:hover, .contactico:active{

    opacity: 0.3;

}

#copyright p{
    text-align: center;
    align-self: center;
    color:white;
    margin-bottom: 3%;
    font-size: 0.7rem;
    margin-top: 4%;
}

@media (max-width:640px){

    #followme p{

        font-size: 1.6rem;
    }

    .contactico{
        height: 65px;
        width: 65px;

    }
    #followIcons{
        gap:1.6rem;
          margin-left: -8%;
    }

    #copyright p{
        font-size: 0.5rem;
    }
}

/*follow section ends*/