*{
    margin:0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
    transition: all 0.2s;
}

@font-face {
    font-family: "awesome";
    src: url(../../assets/fonts/awesome.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ballmain';
    src: url(../../assets/fonts/ballmain.regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('../../assets/fonts/allura.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
  width: 100vw; 
    /*height: 1500px;*/
    background-color: #000000;
    overflow-x: hidden;
  overflow-y: scroll;
 
}
/*Background*/

body{
background-image: url("../../assets/images/background.png");
width: 100vw;
height: 100vh;
background-size:100% 100vh;
background-repeat: no-repeat;
overflow-y: scroll;
overflow-x: hidden;
position: fixed;
}

/*Navigation Bar Starts*/

#logo{
    height:45px;
    margin:20px;

}

nav{
    display: flex;
    justify-content: space-between;
    top:0;
      position: fixed;
      width: 100vw;
    backdrop-filter: blur(10px);
   z-index: 1;
}

#menubar{
    display:flex;
    flex-direction: column;
    position:fixed;
    right: 0%;
    top: 0px;
    height: 100vh;
    padding-top:30px;
    padding-right:40px;
     padding-left:40px;
    backdrop-filter: blur(10px);
    display:none;
    z-index: 1;
}
#navdiv{
    margin-right: 35px;
  }
#navdiv ul{
    display: flex;

}
#menubar ul{
    display: flex;
    flex-direction: column;
}

#menubar ul li{
    margin:auto;
}

#navdiv ul li,#menubar ul li{
    margin:20px;
    margin-left: 50px;
    margin-top:30px;
    list-style: none;
    position:relative;
}

#close{
    display: flex;
    flex-direction: row-reverse;
} 

#navdiv ul li a, #menubar ul li a{
    text-decoration: none;
    color: yellow;
    font-size: 1.4rem;
    font-family: "Baloo Bhai 2", serif;
    font-style: italic;
     text-align: center;
}



#menu{
    margin:30px;
   
    display:none;
}

#menu:hover{
    cursor: pointer;
}
#close:hover{
    cursor: pointer;
}

#close img:active{
     border-radius: 50px;
        background-color: rgba(224, 222, 222, 0.5);
}

#menubar ul li:hover{
    cursor:pointer;
}
#menubar ul li a:hover,#navdiv ul li a:hover {
    font-weight: bold;
}
#menubar ul li a:active{
    color:white ;
}

#navdiv ul li:hover::after{
    content: '';
    height:4px;
    width:100%;
    background-color: yellow;
    position: absolute;
    left:0;
    bottom: -25px;
    opacity: 1;

}




@media (max-width:975px){

    #navdiv{
        display:none;

    }

    #menu{
        display:block;
    }

    #menu:active{
        border-radius: 50px;
        background-color: rgba(224, 222, 222, 0.5);
        
    }
    
}


/*Navigation bar ends*/

/* content*/

#underconstruction{

    backdrop-filter: blur(10px);
    width: 40%;
   
    margin:auto;
    margin-top:25vh;
    font-family: "Baloo Bhai 2";
    font-size: 1.6rem;
    text-align: center;
    color: yellow;
    background-color: rgba(0, 0, 0, 0.65);
    align-content: center;
    padding:5%;
    border-radius: 20px;
    box-shadow:  2px 2px 5px 4px rgb(219, 5, 247);

}

@media (max-width:1000px){
#underconstruction{
    width: 50%;

}

}

@media (max-width:800px){
#underconstruction{
    width: 60%;

}

}

@media (max-width:600px){
#underconstruction{
    width: 80%;

}

}

@media (max-width:430px){
#underconstruction{
    width: 90%;

}

}

/*content ends*/